## Using dictionaries

Now that you are familiar with the container sequence types, let's dive into dictionaries. People often joke that everything in Python is a dictionary, and while it is a joke, there is a tiny bit of truth to that. 

Dictionary are useful for storing key/value pair, grouping data by time or structuring hierarchical data like org charts. 

Dictionaries hold data in key/value pairs. While the key must be alphanumeric, the value can be any other data type. It's also possible to nest dictionaries so that you can work with grouped or hierarchical data. 

We can also iterate over the keys and values of a dictionary. We can also iterate over the items of a dictionary, which are tuples of the key value pairs)! We create dictionaries using the dict() method or the braces shortcut.


### Creating and looping through dictionaries

You'll often encounter the need to loop over some array type data. You start that by creating an empty dictionary and assigning part of your array data as the key and the rest as the value.

Dictionaries can also be sorted. By default, using sorted() on a dictionary will sort by the keys of the dictionary. You can also reverse the order by passing reverse=True as a keyword argument.

Finally, since sorted returns a list, you can use slice notation to select only part of the list. For example, [:10] will slice the first ten items off a list and return only those items.

### Exercise 1:

Sort in descending order and Print the first 10 names from the dictionary female_baby_names_2012

In [1]:
female_baby_names_2012 = {44: 'RIVKY', 26: 'JULIA', 43: 'TOBY', 37: 'MALKY', 
                         19: 'ABIGAIL', 25: 'ZOE', 42: 'PENELOPE', 39: 'MALKA', 
                         33: 'SHAINDY', 36: 'MADISON', 35: 'GITTY', 32: 'STELLA', 
                         41: 'MADELINE', 7: 'CHAYA', 38: 'EVA', 18: 'ELIZABETH', 
                         30: 'GRACE', 34: 'FAIGY', 14: 'SARA', 45: 'NICOLE', 20: 'ALEXANDRA', 
                         12: 'EMILY', 29: 'HANNAH', 1: 'EMMA', 40: 'ALEXA', 28: 'GABRIELLA', 
                         24: 'RIVKA', 4: 'SOPHIA', 5: 'ESTHER', 27: 'SOPHIE', 22: 'LILY', 10: 'MIRIAM', 
                         8: 'AVA', 9: 'CHANA', 13: 'MIA', 6: 'RACHEL', 17: 'MAYA', 31: 'AVERY', 11: 'ELLA', 
                         23: 'SOFIA', 3: 'SARAH', 21: 'VICTORIA', 16: 'ISABELLA', 2: 'LEAH', 15: 'CHARLOTTE', 
                         46: 'VIOLET', 47: 'NATALIE', 69: 'LILIANA', 62: 'SURY', 71: 'SAVANNAH', 75: 'VERA', 
                         72: 'VANESSA', 48: 'REBECCA', 77: 'SYLVIA', 67: 'TAYLOR', 57: 'VALENTINA', 73: 'SIMONE', 
                         79: 'SHAINA', 53: 'RILEY', 64: 'YIDES', 78: 'SIMA', 51: 'NINA', 74: 'SLOANE', 63: 'NAOMI', 
                         70: 'YAEL', 55: 'SYDNEY', 68: 'ZOEY', 76: 'YEHUDIS', 60: 'FRANCESCA', 49: 'MARIA', 61: 'ZISSY', 
                         65: 'SKYLAR', 59: 'JOSEPHINE', 66: 'VERONICA', 50: 'YITTY', 58: 'TALIA', 52: 'KATHERINE', 
                         54: 'SIENNA', 56: 'VIVIENNE', 81: 'YITTA', 83: 'YARA', 82: 'TZIVIA', 80: 'TZIPORA'}

In [2]:
sorted_names = {}
for rank, names in sorted(female_baby_names_2012.items(), reverse = True)[:10]:
    print(rank,names)

83 YARA
82 TZIVIA
81 YITTA
80 TZIPORA
79 SHAINA
78 SIMA
77 SYLVIA
76 YEHUDIS
75 VERA
74 SLOANE

### Safely finding by key

if you attempt to access a key that isn't present in a dictionary, you'll get a KeyError. One option to handle this type of error is to use a try: except:

Python provides a faster, more versatile tool to help with this problem in the form of the .get() method. The get method allows you to safely get a value from a key by passing the key. If the key is not found in the dictionary, it returns None. You can optionally supply a second argument which will be returned instead of None. 

Accessing data in a safe manner is critical to ensure your programs execute properly.

### Exercise 2:

- Safely print rank 7 from the female_baby_names_2012  dictionary.

- Safely print the type of rank 100 from the female_baby_names_2012  dictionary.

- Safely print rank 105 from the female_baby_names_2012 dictionary or 'Not Found' if 105 is not found.

In [3]:
print(female_baby_names_2012.get(7))

CHAYA

In [4]:
print(female_baby_names_2012.get(100))
print(type(female_baby_names_2012.get(100)))

None
<class 'NoneType'>

In [5]:
print(female_baby_names_2012.get(105, "Not Found"))

Not Found

### Dealing with nested data

A dictionary can contain another dictionary as the value of a key, and this is a very common way to deal with repeating data structures such as yearly, monthly or weekly data. All the same rules apply when creating or accessing the dictionary.

For example, if you had a dictionary that had a ranking of my cookie consumption by year and type of cookie.

In [7]:
cookies = {'2017': {'chocolate chip': 483, 'peanut butter': 115}, '2016': {'chocolate chip': 9513, 'peanut butter': 6792}}
cookies

{'2017': {'chocolate chip': 483, 'peanut butter': 115},
 '2016': {'chocolate chip': 9513, 'peanut butter': 6792}}

Suppose, I want to access how many chocolate chip cookies I ate in 2016

In [8]:
cookies.keys()

dict_keys(['2017', '2016'])

In [9]:
cookies["2016"]

{'chocolate chip': 9513, 'peanut butter': 6792}

In [10]:
cookies["2016"]['chocolate chip']

9513

In [11]:
boy_names = {2013: {50: 'Logan', 13: 'Henry', 54: 'Yaakov', 47: 'Yitzchok', 
        49: 'Menachem', 32: 'Luke', 44: 'Aron', 56: 'Omar', 
        42: 'Aaron', 5: 'Daniel', 43: 'Zachary', 45: 'Luca', 
        24: 'Anthony', 16: 'Nicholas', 30: 'Leo', 25: 'Isaac', 
        57: 'Levi', 19: 'Chaim', 51: 'Aiden', 37: 'Christopher', 
        55: 'Yakov', 33: 'Jackson', 21: 'Liam', 36: 'Joshua', 
        53: 'Peter', 38: 'Sebastian', 7: 'James', 52: 'Yisroel', 
        40: 'Eli', 27: 'Andrew', 35: 'Theodore', 8: 'Jacob', 
        2: 'Joseph', 14: 'Noah', 34: 'Shimon', 46: 'Yehuda', 
        29: 'Yosef', 22: 'Ryan', 9: 'Jack', 1: 'David', 28: 'Gabriel', 
        48: 'Owen', 26: 'Oliver', 11: 'William', 31: 'Thomas', 23: 'Lucas', 
        10: 'Alexander', 39: 'Mason', 4: 'Moshe', 41: 'Nathan', 
        17: 'Matthew', 12: 'John', 6: 'Benjamin', 20: 'Abraham', 
        18: 'Adam', 3: 'Michael', 15: 'Samuel', 62: 'Jonah', 
        61: 'Connor', 60: 'Patrick', 59: 'Shmuel', 58: 'Simon', 
        79: 'Parker', 82: 'Nicolas', 95: 'Sawyer', 94: 'Yoel', 
        90: 'Rayan', 73: 'Sean', 85: 'Usher', 92: 'Yossi', 
        65: 'Nathaniel', 93: 'Wesley', 81: 'Yechiel', 69: 'Hunter', 
        76: 'Martin', 74: 'Sam', 87: 'Yusuf', 67: 'Tyler', 88: 'Yehoshua',
        84: 'Spencer', 83: 'Timothy', 63: 'Zev', 86: 'Rafael', 
        91: 'Tristan', 89: 'Shaya', 71: 'Lipa', 66: 'Harrison', 
        68: 'Mark', 75: 'Solomon', 78: 'Wyatt', 80: 'Steven', 
        64: 'Tzvi', 70: 'Mohamed', 72: 'Mendel', 77: 'Edward', 
        96: 'Yousef', 100: 'Yitzchak', 99: 'Yeshaya', 97: 'Walter', 98: 'Zalmen'}, 
 2014: {54: 'Aron', 14: 'Henry', 58: 'Miles', 38: 'Andrew', 33: 'Eli', 
        42: 'Jackson', 51: 'Yitzchok', 56: 'Levi', 57: 'Shmuel', 
        39: 'Zachary', 5: 'Jacob', 40: 'Owen', 48: 'Asher', 26: 'Lucas', 
        21: 'Noah', 50: 'Robert', 47: 'Jonathan', 55: 'Mark', 36: 'Mason', 
        29: 'Anthony', 45: 'Aiden', 37: 'Mordechai', 53: 'Christian', 
        18: 'Ethan', 52: 'George', 24: 'Theodore', 34: 'Shimon', 30: 'Oliver', 
        7: 'Alexander', 46: 'Christopher', 22: 'Matthew', 9: 'Samuel', 2: 'David', 
        11: 'James', 35: 'Luke', 28: 'Yosef', 44: 'Nathan', 20: 'Ryan', 10: 'Jack', 
        1: 'Joseph', 49: 'Logan', 32: 'Gabriel', 17: 'John', 15: 'Abraham', 
        19: 'Liam', 16: 'Nicholas', 4: 'Moshe', 13: 'William', 12: 'Adam', 
        27: 'Thomas', 6: 'Benjamin', 23: 'Chaim', 41: 'Yehuda', 31: 'Max', 
        3: 'Michael', 25: 'Isaac', 8: 'Daniel', 43: 'Yisroel', 59: 'Shlomo', 
        60: 'Peter', 90: 'Naftali', 75: 'Shia', 98: 'Yisrael', 88: 'Youssef', 
        74: 'Oscar', 84: 'Philip', 93: 'Shmiel', 95: 'Naftuli', 68: 'Yakov', 
        96: 'Yusuf', 89: 'Simcha', 91: 'Ronan', 78: 'Tyler', 72: 'Edward', 
        92: 'Usher', 69: 'Hunter', 85: 'Timothy', 80: 'Sam', 82: 'Ian', 
        94: 'Yousef', 66: 'Nathaniel', 87: 'Xavier', 97: 'Yossi', 73: 'Yechiel', 
        67: 'Yaakov', 86: 'Yehoshua', 81: 'Shaya', 70: 'Vincent', 79: 'Wyatt', 
        61: 'Sean', 64: 'Gavin', 83: 'Raphael', 65: 'Zev', 62: 'Eliezer', 76: 'Leonardo', 
        77: 'Victor', 63: 'Solomon', 71: 'Ari', 100: 'Yoel', 101: 'Yahya', 99: 'Shea', 102: 'Yidel'}, 
 2012: {}}

### Exercise 3:

- Print the keys of the boy_names dictionary.


- Print the keys of the boy_names dictionary for the year 2013.


- Loop over the boy_names dictionary. Inside the loop, safely print the year and the third ranked name. Print 'Unknown' if the third ranked name is not found.

In [12]:
boy_names.keys()

dict_keys([2013, 2014, 2012])

In [13]:
boy_names[2013].keys()

dict_keys([50, 13, 54, 47, 49, 32, 44, 56, 42, 5, 43, 45, 24, 16, 30, 25, 57, 19, 51, 37, 55, 33, 21, 36, 53, 38, 7, 52, 40, 27, 35, 8, 2, 14, 34, 46, 29, 22, 9, 1, 28, 48, 26, 11, 31, 23, 10, 39, 4, 41, 17, 12, 6, 20, 18, 3, 15, 62, 61, 60, 59, 58, 79, 82, 95, 94, 90, 73, 85, 92, 65, 93, 81, 69, 76, 74, 87, 67, 88, 84, 83, 63, 86, 91, 89, 71, 66, 68, 75, 78, 80, 64, 70, 72, 77, 96, 100, 99, 97, 98])

In [14]:
for year in boy_names:
    print(year, boy_names[year].get(3, "Unknown"))

2013 Michael
2014 Michael
2012 Unknown

### Adding and extending dictionaries

Dictionaries are mutable, so we can alter them in a number of ways. Let's start by adding data to them. You can add data to a dictionary just by using a new key as an index and assigning it a value.It's important to remember that if it's a nested dictionary, then all the keys in the data path must exist, and each key in the path must be assigned individually. 

It's also possible to supply a dictionary, list of tuples or a set of keywords arguments to the update() method to add values into a dictionary. We can also create a list of tuples, and supply them to the update() method.

In [15]:
names_2011 = {51: 'Owen', 19: 'Andrew', 46: 'Sebastian', 36: 'Isaac', 
              38: 'Zachary', 52: 'Vincent', 47: 'Mark', 45: 'Yehuda', 
              34: 'Max', 7: 'Daniel', 30: 'Oliver', 18: 'Anthony', 
              22: 'Lucas', 53: 'Tyler', 25: 'Thomas', 14: 'John', 
              48: 'Robert', 23: 'Dylan', 39: 'Leo', 16: 'Henry', 
              35: 'Shimon', 42: 'Jake', 28: 'Yosef', 37: 'Joshua', 
              27: 'Menachem', 50: 'George', 49: 'Logan', 56: 'Yitzchok', 
              55: 'Aidan', 10: 'Jack', 17: 'Chaim', 54: 'Yakov', 9: 'Matthew', 
              1: 'Michael', 44: 'Yisroel', 15: 'Nicholas', 21: 'Charles', 
              43: 'Mordechai', 31: 'Noah', 6: 'Moshe', 2: 'Joseph', 
              41: 'Aiden', 20: 'Liam', 4: 'David', 8: 'Alexander', 
              24: 'Ryan', 5: 'Benjamin', 33: 'Gabriel', 12: 'James', 
              29: 'Luke', 26: 'Ethan', 11: 'Samuel', 40: 'Julian', 
              3: 'Jacob', 32: 'Eli', 13: 'William', 58: 'Theodore', 
              61: 'Zev', 63: 'Yaakov', 64: 'Shmuel', 59: 'Peter', 
              62: 'Nathaniel', 60: 'Solomon', 57: 'Asher', 92: 'Spencer', 
              90: 'Yitzchak', 82: 'Wyatt', 72: 'Sam', 91: 'Shea', 
              88: 'Rocco', 70: 'Cole', 68: 'Jayden', 66: 'Tzvi', 
              89: 'Xavier', 94: 'Yida', 83: 'Tristan', 71: 'Sean', 
              67: 'Levi', 76: 'Moses', 78: 'Usher', 93: 'Zalmen', 
              84: 'Louis', 87: 'Yoel', 80: 'Yechiel', 81: 'Shaya', 
              85: 'Yehoshua', 75: 'Steven', 77: 'Shia', 73: 'Victor', 
              86: 'Sholom', 79: 'Nicolas', 74: 'Omar', 65: 'Shulem', 
              69: 'Mohamed', 96: 'Youssef', 97: 'Yonah', 95: 'Yousef'}

### Exercise 4:

- Assign the names_2011 dictionary as the value to the 2011 key of the boy_names dictionary.


- Update the 2012 key in the boy_names dictionary with the following data in a list of tuples: (1, 'Casey'), (2, 'Aiden').


- Loop over the boy_names dictionary. Inside the for loop, sort the data for each year of boy_names by descending rank and take the first result which will be the lowest ranked name.


- Safely print the year and least popular name or 'Not Available' if it is not found. Take advantage of the .get() method.

In [16]:
# Assign the names_2011 dictionary as the value to the 2011 key of boy_names

boy_names[2011] = names_2011
boy_names.keys()

dict_keys([2013, 2014, 2012, 2011])

In [17]:
boy_names[2012]

{}

In [18]:
# # Update the 2012 key in the boy_names dictionary

tup = (1, 'Casey'), (2, 'Aiden')
boy_names[2012].update(list(tup))
boy_names[2012]

{1: 'Casey', 2: 'Aiden'}

In [19]:
for year in boy_names:
    lowest_ranked = sorted(boy_names[year], reverse=True)[0]
    #print(lowest_ranked)
    print(year, boy_names[year].get(lowest_ranked, "Not Available"))

2013 Yitzchak
2014 Yidel
2012 Aiden
2011 Yonah

It looks like 'Yonah', 'Yitzchak', and 'Yidel' were the least popular baby names in 2011, 2013, and 2014. The dictionary in the 2012 key of boy_names did not contain any data until you added 'Casey' and 'Aiden', so unsurprisingly, 'Aiden' is the least popular name.

### Popping and deleting from dictionaries

You can use the del python instruction on a dictionary key to remove data from a dictionary. However, it's important to remember that del will throw a KeyError if the key you are trying to delete does not exist. You can not use it with the .get() method to safely delete items; however, it can be used with try: catch:.

The pop() method provides a safe way to remove keys from a dictionary. If you want to save that deleted data into another variable for further processing, the .pop() dictionary method will do just that. You can supply a default value for .pop() much like you did for .get() to safely deal with missing keys. It's also typical to use .pop() instead of del since it is a safe method.

In [20]:
female_names = {2013: {7: 'Rachel', 2: 'Emma', 4: 'Sophia', 5: 'Sarah', 
                       9: 'Miriam', 6: 'Leah', 8: 'Chaya', 3: 'Esther', 
                       1: 'Olivia', 10: 'Chana'}, 
                
                2014: {10: 'Miriam', 5: 'Emma', 2: 'Esther', 9: 'Ava', 4: 'Leah', 3: 'Rachel', 
                       7: 'Sarah', 8: 'Sophia', 6: 'Chaya', 1: 'Olivia'}, 
                
                2012: {}, 
                
                2011: {10: 'Miriam', 5: 'Emma', 2: 'Esther', 9: 'Ava', 4: 'Leah', 
                       3: 'Rachel', 7: 'Sarah', 8: 'Sophia', 6: 'Chaya', 1: 'Olivia'}}

### Exercise 5

- Remove 2011 from female_names and store it as female_names_2011.


- Safely remove 2015 from female_names with a empty dictionary as the default and store it as female_names_2015. To do this, pass in an empty dictionary {} as a second argument to .pop().


- Delete 2012 from female_names.

In [21]:
# Remove 2011 from female_names and store it as female_names_2011.

female_names_2011 = female_names.pop(2011)
print(female_names_2011)

{10: 'Miriam', 5: 'Emma', 2: 'Esther', 9: 'Ava', 4: 'Leah', 3: 'Rachel', 7: 'Sarah', 8: 'Sophia', 6: 'Chaya', 1: 'Olivia'}

In [22]:
#female_names[2015]

In [23]:
# Safely remove 2015 from female_names with an empty dictionary as the default and store it as female_names_2015. 
# To do this, pass in an empty dictionary {} as a second argument to .pop().

female_names_2015 = female_names.pop(2015, {})
female_names_2015

{}

In [24]:
# Delete 2012 from female_names.

del female_names[2012]

In [25]:
print(female_names)

{2013: {7: 'Rachel', 2: 'Emma', 4: 'Sophia', 5: 'Sarah', 9: 'Miriam', 6: 'Leah', 8: 'Chaya', 3: 'Esther', 1: 'Olivia', 10: 'Chana'}, 2014: {10: 'Miriam', 5: 'Emma', 2: 'Esther', 9: 'Ava', 4: 'Leah', 3: 'Rachel', 7: 'Sarah', 8: 'Sophia', 6: 'Chaya', 1: 'Olivia'}}

As expected, only the data from the years 2013 and 2014 is retained.

### Working with dictionaries more pythonically

So far, you've worked a lot with the keys of a dictionary to access data, but in Python, the preferred manner for iterating over items in a dictionary is with the .items() method.

This returns each key and value from the dictionary as a tuple, which you can unpack in a for loop.

In [26]:
baby_names = {
              2013: {7: 'James', 2: 'Joseph', 4: 'Moshe', 5: 'Daniel', 9: 'Jack', 
                     6: 'Benjamin', 8: 'Jacob', 3: 'Michael', 1: 'David', 10: 'Alexander'}, 
              
              2014: {10: 'Jack', 5: 'Jacob', 2: 'David', 9: 'Samuel', 4: 'Moshe', 3: 'Michael', 
                     7: 'Alexander', 8: 'Daniel', 6: 'Benjamin', 1: 'Joseph'}, 
              
              2012: {}
             
            }

### Exercise 6

- Iterate over baby_names[2014], unpacking it into rank and name. Print each rank and name.


- Repeat the process for baby_names[2012].

In [27]:
# Iterate over baby_names[2014], unpacking it into rank and name. Print each rank and name.

for rank,name in baby_names[2014].items():
    print(f"Rank: {rank}  Baby_Name: {name}")

Rank: 10  Baby_Name: Jack
Rank: 5  Baby_Name: Jacob
Rank: 2  Baby_Name: David
Rank: 9  Baby_Name: Samuel
Rank: 4  Baby_Name: Moshe
Rank: 3  Baby_Name: Michael
Rank: 7  Baby_Name: Alexander
Rank: 8  Baby_Name: Daniel
Rank: 6  Baby_Name: Benjamin
Rank: 1  Baby_Name: Joseph

### Exercise 7

- Check to see if 2011 is in the baby_names dictionary. Print 'Found 2011' if it is present.


- Check to see if 1 is in baby_names[2012]. Print 'Found Rank 1 in 2012' if found and 'Rank 1 missing from 2012' if not found.


- Check to see if rank 5 is in baby_names[2013]. Print 'Found Rank 5' if it is present.

In [28]:
# Check to see if 2011 is in the baby_names dictionary. Print 'Found 2011' if it is present.

if 2011 in baby_names:
    print('Found 2011')

In [29]:
if 1 in baby_names[2012]:
    print("Found Rank 1 in 2012")
else:
    print('Rank 1 missing from 2012')

Rank 1 missing from 2012

In [30]:
if 5 in baby_names[2013]:
    print('Found Rank 5')

Found Rank 5

### Working with csv files:

Many of the data sets you're going to encounter as a data scientist will be published as CSV files, because it's one of the most common ways to dump data from a database or storage system. Generally it begins with a header line that identifies the fields in each row. Then a line for each row of data. But CSV files are not required to have a header. Let's look at how to read data from these.

### Reading from a file using CSV reader

Python provides a wonderful module called csv to work with these types of files. To create a Python file object, you use the open() function, which accepts a file name and a mode. The mode is typically 'r' for read or 'w' for write. 

Then we pass the file object to the dot reader() method on the csv module and use it as you would any other iterable.

Often CSV files will have a header row with field names, and you will need to use slice notation such as [1:] to skip the header row.

Here I import the csv module, create a file object for the baby_names.csv data file. Then I use the csv dot reader to read the file and iterate over each line or row in the file and print it.

In [31]:
import csv

### Exercise 8:

Create a Dictionary from baby_names.csv file where keys will be the "RANK" from csv file and values will be "NAME" from the csv file

In [43]:
csvfile = open("baby_names.csv", "r")

new_baby_names = {}

for row in csv.reader(csvfile):
    #print(row)
    new_baby_names[row[5]] = row[3]
print(new_baby_names)

{'RANK': 'NAME', '75': 'Shia', '67': 'Yaakov', '42': 'Jackson', '51': 'Yitzchok', '53': 'Christian', '62': 'Eliezer', '8': 'Daniel', '74': 'Oscar', '71': 'Ari', '78': 'Tyler', '73': 'Yechiel', '72': 'Edward', '77': 'Victor', '60': 'Peter', '1': 'Joseph', '70': 'Vincent', '61': 'Sean', '65': 'Zev', '58': 'Miles', '41': 'Yehuda', '76': 'Leonardo', '68': 'Yakov', '48': 'Asher', '55': 'Mark', '40': 'Owen', '66': 'Nathaniel', '64': 'Gavin', '34': 'Shimon', '44': 'Nathan', '57': 'Shmuel', '63': 'Solomon', '33': 'Eli', '31': 'Max', '20': 'Ryan', '69': 'Hunter', '35': 'Luke', '13': 'William', '52': 'George', '59': 'Shlomo', '39': 'Zachary', '9': 'Samuel', '27': 'Thomas', '10': 'Jack', '56': 'Levi', '12': 'Adam', '2': 'David', '25': 'Isaac', '18': 'Ethan', '14': 'Henry', '38': 'Andrew', '28': 'Yosef', '6': 'Benjamin', '3': 'Michael', '19': 'Liam', '45': 'Aiden', '47': 'Jonathan', '11': 'James', '79': 'Wyatt', '17': 'John', '43': 'Yisroel', '80': 'Sam', '37': 'Mordechai', '81': 'Shaya', '46': 'Christopher', '5': 'Jacob', '22': 'Matthew', '50': 'Robert', '21': 'Noah', '30': 'Oliver', '24': 'Theodore', '54': 'Aron', '15': 'Abraham', '36': 'Mason', '23': 'Chaim', '7': 'Alexander', '16': 'Nicholas', '49': 'Logan', '29': 'Anthony', '4': 'Moshe', '32': 'Gabriel', '26': 'Lucas', '92': 'Usher', '90': 'Naftali', '82': 'Ian', '91': 'Ronan', '88': 'Youssef', '89': 'Simcha', '94': 'Yousef', '83': 'Raphael', '93': 'Shmiel', '84': 'Philip', '87': 'Xavier', '85': 'Timothy', '86': 'Yehoshua', '96': 'Yusuf', '97': 'Yossi', '95': 'Naftuli', '99': 'Shea', '98': 'Yisrael', '100': 'Yoel', '101': 'Yahya', '102': 'Yidel'}

### Creating a dictionary from a file

The csv module also provides a way to directly create a dictionary from a CSV file with the DictReader class. 

If the file has a header row, that row will automatically be used as the keys for the dictionary. However, if not, you can supply a list of keys to be used. 

Each row from the file is returned as a dictionary. Using DictReader can make it much easier to read your code and understand what data is being used, especially when compared to the numbered indexes you used in the prior exercise.

In [45]:
csvfile = open("baby_names.csv", "r")

new_baby_names2 = {}

for row in csv.DictReader(csvfile):
    #print(row)
    new_baby_names2[row["RANK"]] = row["NAME"]
print(new_baby_names2)

{'75': 'Shia', '67': 'Yaakov', '42': 'Jackson', '51': 'Yitzchok', '53': 'Christian', '62': 'Eliezer', '8': 'Daniel', '74': 'Oscar', '71': 'Ari', '78': 'Tyler', '73': 'Yechiel', '72': 'Edward', '77': 'Victor', '60': 'Peter', '1': 'Joseph', '70': 'Vincent', '61': 'Sean', '65': 'Zev', '58': 'Miles', '41': 'Yehuda', '76': 'Leonardo', '68': 'Yakov', '48': 'Asher', '55': 'Mark', '40': 'Owen', '66': 'Nathaniel', '64': 'Gavin', '34': 'Shimon', '44': 'Nathan', '57': 'Shmuel', '63': 'Solomon', '33': 'Eli', '31': 'Max', '20': 'Ryan', '69': 'Hunter', '35': 'Luke', '13': 'William', '52': 'George', '59': 'Shlomo', '39': 'Zachary', '9': 'Samuel', '27': 'Thomas', '10': 'Jack', '56': 'Levi', '12': 'Adam', '2': 'David', '25': 'Isaac', '18': 'Ethan', '14': 'Henry', '38': 'Andrew', '28': 'Yosef', '6': 'Benjamin', '3': 'Michael', '19': 'Liam', '45': 'Aiden', '47': 'Jonathan', '11': 'James', '79': 'Wyatt', '17': 'John', '43': 'Yisroel', '80': 'Sam', '37': 'Mordechai', '81': 'Shaya', '46': 'Christopher', '5': 'Jacob', '22': 'Matthew', '50': 'Robert', '21': 'Noah', '30': 'Oliver', '24': 'Theodore', '54': 'Aron', '15': 'Abraham', '36': 'Mason', '23': 'Chaim', '7': 'Alexander', '16': 'Nicholas', '49': 'Logan', '29': 'Anthony', '4': 'Moshe', '32': 'Gabriel', '26': 'Lucas', '92': 'Usher', '90': 'Naftali', '82': 'Ian', '91': 'Ronan', '88': 'Youssef', '89': 'Simcha', '94': 'Yousef', '83': 'Raphael', '93': 'Shmiel', '84': 'Philip', '87': 'Xavier', '85': 'Timothy', '86': 'Yehoshua', '96': 'Yusuf', '97': 'Yossi', '95': 'Naftuli', '99': 'Shea', '98': 'Yisrael', '100': 'Yoel', '101': 'Yahya', '102': 'Yidel'}