In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv("ANSUR_II_MALE.csv")
df1.head()

,Branch,Component,Gender,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,...,waistdepth,waistfrontlengthsitting,waistheightomphalion,wristcircumference,wristheight,weight_kg,stature_m,BMI,BMI_class,Height_class
0,Combat Arms,Regular Army,Male,266,1467,337,222,1347,253,202,...,240,440,1054,175,853,81.5,1.776,25.838761,Overweight,Tall
1,Combat Support,Regular Army,Male,233,1395,326,220,1293,245,193,...,225,371,1054,167,815,72.6,1.702,25.062103,Overweight,Normal
2,Combat Support,Regular Army,Male,287,1430,341,230,1327,256,196,...,255,411,1041,180,831,92.9,1.735,30.861480,Overweight,Normal
3,Combat Service Support,Regular Army,Male,234,1347,310,230,1239,262,199,...,205,399,968,176,793,79.4,1.655,28.988417,Overweight,Normal
4,Combat Service Support,Regular Army,Male,250,1585,372,247,1478,267,224,...,214,379,1245,188,954,94.6,1.914,25.823034,Overweight,Tall

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4082 entries, 0 to 4081
Data columns (total 99 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Branch                          4082 non-null   object
 1   Component                       4082 non-null   object
 2   Gender                          4082 non-null   object
 3   abdominalextensiondepthsitting  4082 non-null   int64
 4   acromialheight                  4082 non-null   int64
 5   acromionradialelength           4082 non-null   int64
 6   anklecircumference              4082 non-null   int64
 7   axillaheight                    4082 non-null   int64
 8   balloffootcircumference         4082 non-null   int64
 9   balloffootlength                4082 non-null   int64
 10  biacromialbreadth               4082 non-null   int64
 11  bicepscircumferenceflexed       4082 non-null   int64
 12  bicristalbreadth                4082 non-null   int64
 13  bideltoidbreadth                4082 non-null   int64
 14  bimalleolarbreadth              4082 non-null   int64
 15  bitragionchinarc                4082 non-null   int64
 16  bitragionsubmandibulararc       4082 non-null   int64
 17  bizygomaticbreadth              4082 non-null   int64
 18  buttockcircumference            4082 non-null   int64
 19  buttockdepth                    4082 non-null   int64
 20  buttockheight                   4082 non-null   int64
 21  buttockkneelength               4082 non-null   int64
 22  buttockpopliteallength          4082 non-null   int64
 23  calfcircumference               4082 non-null   int64
 24  cervicaleheight                 4082 non-null   int64
 25  chestbreadth                    4082 non-null   int64
 26  chestcircumference              4082 non-null   int64
 27  chestdepth                      4082 non-null   int64
 28  chestheight                     4082 non-null   int64
 29  crotchheight                    4082 non-null   int64
 30  crotchlengthomphalion           4082 non-null   int64
 31  crotchlengthposterioromphalion  4082 non-null   int64
 32  earbreadth                      4082 non-null   int64
 33  earlength                       4082 non-null   int64
 34  earprotrusion                   4082 non-null   int64
 35  elbowrestheight                 4082 non-null   int64
 36  eyeheightsitting                4082 non-null   int64
 37  footbreadthhorizontal           4082 non-null   int64
 38  footlength                      4082 non-null   int64
 39  forearmcenterofgriplength       4082 non-null   int64
 40  forearmcircumferenceflexed      4082 non-null   int64
 41  forearmforearmbreadth           4082 non-null   int64
 42  forearmhandlength               4082 non-null   int64
 43  functionalleglength             4082 non-null   int64
 44  handbreadth                     4082 non-null   int64
 45  handcircumference               4082 non-null   int64
 46  handlength                      4082 non-null   int64
 47  headbreadth                     4082 non-null   int64
 48  headcircumference               4082 non-null   int64
 49  headlength                      4082 non-null   int64
 50  heelanklecircumference          4082 non-null   int64
 51  heelbreadth                     4082 non-null   int64
 52  hipbreadth                      4082 non-null   int64
 53  hipbreadthsitting               4082 non-null   int64
 54  iliocristaleheight              4082 non-null   int64
 55  interpupillarybreadth           4082 non-null   int64
 56  interscyei                      4082 non-null   int64
 57  interscyeii                     4082 non-null   int64
 58  kneeheightmidpatella            4082 non-null   int64
 59  kneeheightsitting               4082 non-null   int64
 60  lateralfemoralepicondyleheight  4082 non-null   int64
 61  lateralmalleolusheight          4082 non-null   int64
 62  lowerthighcircumference         4082 non-null   int64
 63  mentonsellionlength             4082 non-null   int64
 64  neckcircumference               4082 non-null   int64
 65  neckcircumferencebase           4082 non-null   int64
 66  overheadfingertipreachsitting   4082 non-null   int64
 67  palmlength                      4082 non-null   int64
 68  poplitealheight                 4082 non-null   int64
 69  radialestylionlength            4082 non-null   int64
 70  shouldercircumference           4082 non-null   int64
 71  shoulderelbowlength             4082 non-null   int64
 72  shoulderlength                  4082 non-null   int64
 73  sittingheight                   4082 non-null   int64
 74  sleevelengthspinewrist          4082 non-null   int64
 75  sleeveoutseam                   4082 non-null   int64
 76  span                            4082 non-null   int64
 77  suprasternaleheight             4082 non-null   int64
 78  tenthribheight                  4082 non-null   int64
 79  thighcircumference              4082 non-null   int64
 80  thighclearance                  4082 non-null   int64
 81  thumbtipreach                   4082 non-null   int64
 82  tibialheight                    4082 non-null   int64
 83  tragiontopofhead                4082 non-null   int64
 84  trochanterionheight             4082 non-null   int64
 85  verticaltrunkcircumferenceusa   4082 non-null   int64
 86  waistbacklength                 4082 non-null   int64
 87  waistbreadth                    4082 non-null   int64
 88  waistcircumference              4082 non-null   int64
 89  waistdepth                      4082 non-null   int64
 90  waistfrontlengthsitting         4082 non-null   int64
 91  waistheightomphalion            4082 non-null   int64
 92  wristcircumference              4082 non-null   int64
 93  wristheight                     4082 non-null   int64
 94  weight_kg                       4082 non-null   float64
 95  stature_m                       4082 non-null   float64
 96  BMI                             4082 non-null   float64
 97  BMI_class                       4082 non-null   object
 98  Height_class                    4082 non-null   object
dtypes: float64(3), int64(91), object(5)
memory usage: 3.1+ MB

In [9]:
df1.columns.str.contains("height")

array([False, False, False, False,  True, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False,  True,  True, False, False, False, False, False,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False,  True,  True,  True,  True, False,
       False, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False,  True,  True, False, False,
       False,  True, False,  True, False, False, False, False, False,
       False,  True, False,  True, False, False, False, False, False])

In [10]:
df1["stature_m"]

0       1.776
1       1.702
2       1.735
3       1.655
4       1.914
        ...
4077    1.688
4078    1.765
4079    1.690
4080    1.718
4081    1.828
Name: stature_m, Length: 4082, dtype: float64

In [4]:
columns = ['Gender',  'weight_kg',  'stature_m', 'footlength',  'headlength']

In [5]:
new_df1 = df1[columns][:100]
new_df1

   Gender  weight_kg  stature_m  footlength  headlength
0    Male       81.5      1.776         273         206
1    Male       72.6      1.702         263         201
2    Male       92.9      1.735         270         202
3    Male       79.4      1.655         267         199
4    Male       94.6      1.914         305         197
..    ...        ...        ...         ...         ...
95   Male       77.5      1.791         264         198
96   Male       72.7      1.657         248         191
97   Male       79.7      1.701         265         178
98   Male       74.4      1.786         262         205
99   Male       96.8      1.755         269         209

[100 rows x 5 columns]

In [6]:
new_df2 = df1[columns][100:200]
new_df2

    Gender  weight_kg  stature_m  footlength  headlength
100   Male       86.6      1.791         274         193
101   Male       74.2      1.759         275         180
102   Male       92.0      1.790         269         208
103   Male       81.4      1.782         260         196
104   Male       64.6      1.839         282         201
..     ...        ...        ...         ...         ...
195   Male       71.1      1.800         255         213
196   Male       67.8      1.715         265         192
197   Male       78.2      1.842         277         198
198   Male       90.9      1.710         276         205
199   Male       84.0      1.753         283         201

[100 rows x 5 columns]

In [15]:
df2 = pd.read_csv("ANSUR_II_FEMALE.csv")
df2.head()

,Branch,Component,Gender,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,...,waistdepth,waistfrontlengthsitting,waistheightomphalion,wristcircumference,wristheight,weight_kg,stature_m,BMI,BMI_class,Height_class
0,Combat Support,Regular Army,Female,231,1282,301,204,1180,222,177,...,217,345,942,152,756,65.7,1.560,26.997041,Overweight,Normal
1,Combat Service Support,Regular Army,Female,194,1379,320,207,1292,225,178,...,168,329,1032,155,815,53.4,1.665,19.262506,Normal,Normal
2,Combat Service Support,Regular Army,Female,183,1369,329,233,1271,237,196,...,159,367,1035,162,799,66.3,1.711,22.647148,Normal,Tall
3,Combat Service Support,Regular Army,Female,261,1356,306,214,1250,240,188,...,235,371,999,173,818,78.2,1.660,28.378575,Overweight,Normal
4,Combat Arms,Regular Army,Female,309,1303,308,214,1210,217,182,...,300,380,911,152,762,88.6,1.572,35.853259,Overweight,Normal

In [8]:
new_df3 = df2[columns][:100]
new_df3

    Gender  weight_kg  stature_m  footlength  headlength
0   Female       65.7      1.560         246         191
1   Female       53.4      1.665         249         180
2   Female       66.3      1.711         265         207
3   Female       78.2      1.660         265         206
4   Female       88.6      1.572         247         181
..     ...        ...        ...         ...         ...
95  Female       58.1      1.495         215         180
96  Female       64.2      1.493         232         178
97  Female       75.8      1.641         252         194
98  Female       68.3      1.607         247         186
99  Female       47.1      1.560         226         187

[100 rows x 5 columns]

In [9]:
new_df4 = df2[columns][100:200]
new_df4

     Gender  weight_kg  stature_m  footlength  headlength
100  Female       66.5      1.625         246         188
101  Female       68.5      1.670         230         179
102  Female       57.9      1.616         239         188
103  Female       64.7      1.582         229         185
104  Female       59.1      1.730         261         188
..      ...        ...        ...         ...         ...
195  Female       59.2      1.572         247         186
196  Female       54.0      1.632         242         196
197  Female       70.1      1.690         246         185
198  Female       68.1      1.682         250         201
199  Female       86.4      1.657         254         180

[100 rows x 5 columns]

In [10]:
ansur_df1 = new_df1

In [11]:
ansur_df1

   Gender  weight_kg  stature_m  footlength  headlength
0    Male       81.5      1.776         273         206
1    Male       72.6      1.702         263         201
2    Male       92.9      1.735         270         202
3    Male       79.4      1.655         267         199
4    Male       94.6      1.914         305         197
..    ...        ...        ...         ...         ...
95   Male       77.5      1.791         264         198
96   Male       72.7      1.657         248         191
97   Male       79.7      1.701         265         178
98   Male       74.4      1.786         262         205
99   Male       96.8      1.755         269         209

[100 rows x 5 columns]

In [12]:
ansur_df1 = ansur_df1.append(new_df3)

In [13]:
ansur_df1

    Gender  weight_kg  stature_m  footlength  headlength
0     Male       81.5      1.776         273         206
1     Male       72.6      1.702         263         201
2     Male       92.9      1.735         270         202
3     Male       79.4      1.655         267         199
4     Male       94.6      1.914         305         197
..     ...        ...        ...         ...         ...
95  Female       58.1      1.495         215         180
96  Female       64.2      1.493         232         178
97  Female       75.8      1.641         252         194
98  Female       68.3      1.607         247         186
99  Female       47.1      1.560         226         187

[200 rows x 5 columns]

In [14]:
ansur_df2 = new_df2.append(new_df4)
ansur_df2

     Gender  weight_kg  stature_m  footlength  headlength
100    Male       86.6      1.791         274         193
101    Male       74.2      1.759         275         180
102    Male       92.0      1.790         269         208
103    Male       81.4      1.782         260         196
104    Male       64.6      1.839         282         201
..      ...        ...        ...         ...         ...
195  Female       59.2      1.572         247         186
196  Female       54.0      1.632         242         196
197  Female       70.1      1.690         246         185
198  Female       68.1      1.682         250         201
199  Female       86.4      1.657         254         180

[200 rows x 5 columns]

In [15]:
#ansur_df1.to_csv("ansur_df1.csv",index=False)

In [16]:
#ansur_df2.to_csv("ansur_df2.csv",index=False)

In [17]:
#da = pd.read_csv("ansur_df1")
#da.head()

In [14]:
df = df1.append(df2)

NameError: name 'df2' is not defined

In [19]:
#df.to_csv("Ansur.csv", index=False)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6068 entries, 0 to 1985
Data columns (total 99 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Branch                          6068 non-null   object
 1   Component                       6068 non-null   object
 2   Gender                          6068 non-null   object
 3   abdominalextensiondepthsitting  6068 non-null   int64
 4   acromialheight                  6068 non-null   int64
 5   acromionradialelength           6068 non-null   int64
 6   anklecircumference              6068 non-null   int64
 7   axillaheight                    6068 non-null   int64
 8   balloffootcircumference         6068 non-null   int64
 9   balloffootlength                6068 non-null   int64
 10  biacromialbreadth               6068 non-null   int64
 11  bicepscircumferenceflexed       6068 non-null   int64
 12  bicristalbreadth                6068 non-null   int64
 13  bideltoidbreadth                6068 non-null   int64
 14  bimalleolarbreadth              6068 non-null   int64
 15  bitragionchinarc                6068 non-null   int64
 16  bitragionsubmandibulararc       6068 non-null   int64
 17  bizygomaticbreadth              6068 non-null   int64
 18  buttockcircumference            6068 non-null   int64
 19  buttockdepth                    6068 non-null   int64
 20  buttockheight                   6068 non-null   int64
 21  buttockkneelength               6068 non-null   int64
 22  buttockpopliteallength          6068 non-null   int64
 23  calfcircumference               6068 non-null   int64
 24  cervicaleheight                 6068 non-null   int64
 25  chestbreadth                    6068 non-null   int64
 26  chestcircumference              6068 non-null   int64
 27  chestdepth                      6068 non-null   int64
 28  chestheight                     6068 non-null   int64
 29  crotchheight                    6068 non-null   int64
 30  crotchlengthomphalion           6068 non-null   int64
 31  crotchlengthposterioromphalion  6068 non-null   int64
 32  earbreadth                      6068 non-null   int64
 33  earlength                       6068 non-null   int64
 34  earprotrusion                   6068 non-null   int64
 35  elbowrestheight                 6068 non-null   int64
 36  eyeheightsitting                6068 non-null   int64
 37  footbreadthhorizontal           6068 non-null   int64
 38  footlength                      6068 non-null   int64
 39  forearmcenterofgriplength       6068 non-null   int64
 40  forearmcircumferenceflexed      6068 non-null   int64
 41  forearmforearmbreadth           6068 non-null   int64
 42  forearmhandlength               6068 non-null   int64
 43  functionalleglength             6068 non-null   int64
 44  handbreadth                     6068 non-null   int64
 45  handcircumference               6068 non-null   int64
 46  handlength                      6068 non-null   int64
 47  headbreadth                     6068 non-null   int64
 48  headcircumference               6068 non-null   int64
 49  headlength                      6068 non-null   int64
 50  heelanklecircumference          6068 non-null   int64
 51  heelbreadth                     6068 non-null   int64
 52  hipbreadth                      6068 non-null   int64
 53  hipbreadthsitting               6068 non-null   int64
 54  iliocristaleheight              6068 non-null   int64
 55  interpupillarybreadth           6068 non-null   int64
 56  interscyei                      6068 non-null   int64
 57  interscyeii                     6068 non-null   int64
 58  kneeheightmidpatella            6068 non-null   int64
 59  kneeheightsitting               6068 non-null   int64
 60  lateralfemoralepicondyleheight  6068 non-null   int64
 61  lateralmalleolusheight          6068 non-null   int64
 62  lowerthighcircumference         6068 non-null   int64
 63  mentonsellionlength             6068 non-null   int64
 64  neckcircumference               6068 non-null   int64
 65  neckcircumferencebase           6068 non-null   int64
 66  overheadfingertipreachsitting   6068 non-null   int64
 67  palmlength                      6068 non-null   int64
 68  poplitealheight                 6068 non-null   int64
 69  radialestylionlength            6068 non-null   int64
 70  shouldercircumference           6068 non-null   int64
 71  shoulderelbowlength             6068 non-null   int64
 72  shoulderlength                  6068 non-null   int64
 73  sittingheight                   6068 non-null   int64
 74  sleevelengthspinewrist          6068 non-null   int64
 75  sleeveoutseam                   6068 non-null   int64
 76  span                            6068 non-null   int64
 77  suprasternaleheight             6068 non-null   int64
 78  tenthribheight                  6068 non-null   int64
 79  thighcircumference              6068 non-null   int64
 80  thighclearance                  6068 non-null   int64
 81  thumbtipreach                   6068 non-null   int64
 82  tibialheight                    6068 non-null   int64
 83  tragiontopofhead                6068 non-null   int64
 84  trochanterionheight             6068 non-null   int64
 85  verticaltrunkcircumferenceusa   6068 non-null   int64
 86  waistbacklength                 6068 non-null   int64
 87  waistbreadth                    6068 non-null   int64
 88  waistcircumference              6068 non-null   int64
 89  waistdepth                      6068 non-null   int64
 90  waistfrontlengthsitting         6068 non-null   int64
 91  waistheightomphalion            6068 non-null   int64
 92  wristcircumference              6068 non-null   int64
 93  wristheight                     6068 non-null   int64
 94  weight_kg                       6068 non-null   float64
 95  stature_m                       6068 non-null   float64
 96  BMI                             6068 non-null   float64
 97  BMI_class                       6068 non-null   object
 98  Height_class                    6068 non-null   object
dtypes: float64(3), int64(91), object(5)
memory usage: 4.6+ MB

In [40]:
df.columns.str.contains("head")

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [23]:
head = df[['headbreadth', 'headcircumference', 'headlength', 'tragiontopofhead']]
head

      headbreadth  headcircumference  headlength  tragiontopofhead
0             150                583         206               140
1             146                568         201               120
2             148                573         202               125
3             158                576         199               127
4             153                566         197               122
...           ...                ...         ...               ...
1981          151                582         205               136
1982          160                570         186               131
1983          144                559         190               127
1984          149                558         186               135
1985          148                561         189               130

[6068 rows x 4 columns]

In [41]:
head.to_csv("head_df.csv", index=False)

In [48]:
df.columns.str.contains("crotch")

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [49]:
data = df[['elbowrestheight', 'wristcircumference', 'anklecircumference', 'buttockheight', 'crotchheight']]
data

,elbowrestheight,wristcircumference,anklecircumference,buttockheight,crotchheight
0,247,175,222,882,877
1,232,167,220,870,851
2,237,180,230,901,854
3,272,176,230,821,769
4,188,188,247,1080,1014
...,...,...,...,...,...
1981,210,162,223,856,779
1982,274,157,202,818,732
1983,204,159,213,846,793
1984,222,146,199,786,763
1985,243,154,210,820,783

In [50]:
data.to_csv("ansur_df.csv", index=False)

In [7]:
columns = ['Branch','Component','Gender','BMI_class','Height_class']

In [8]:
male_df = df1.drop(columns, axis=1)

In [9]:
male_df.shape

(4082, 94)

In [12]:
male_df["BMI"]

0       25.838761
1       25.062103
2       30.861480
3       28.988417
4       25.823034
          ...
4077    23.689663
4078    28.761967
4079    29.130633
4080    24.766866
4081    29.477038
Name: BMI, Length: 4082, dtype: float64

In [13]:
male_df.to_csv("an_male.csv", index=False)

In [12]:
ans_m_df = df1[['stature_m', 'buttockheight', 'waistdepth', 'span', 'waistcircumference', 'shouldercircumference', 
     'footlength', 'handlength', 'functionalleglength', 'chestheight', 'chestcircumference',
       'cervicaleheight', 'sittingheight']]

In [13]:
ans_m_df.to_csv("ans_m_df.csv", index=False)

In [31]:
articles = pd.read_csv("wikipedia-vectors.csv")
articles

,Unnamed: 0,HTTP 404,Alexa Internet,Internet Explorer,HTTP cookie,Google Search,Tumblr,Hypertext Transfer Protocol,Social search,Firefox,...,Chad Kroeger,Nate Ruess,The Wanted,Stevie Nicks,Arctic Monkeys,Black Sabbath,Skrillex,Red Hot Chili Peppers,Sepsis,Adam Levine
0,0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.008878,0.0,0.0,0.049502,0.000000,0.000000,0.0
1,1,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.006110,0.0
2,2,0.0,0.029607,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
3,3,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.005646,0.000000,0.0
4,4,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13120,13120,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
13121,13121,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
13122,13122,0.0,0.000000,0.011594,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
13123,13123,0.0,0.000000,0.000000,0.0,0.006649,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.005476,0.0
13124,13124,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0

In [32]:
articles = articles.drop('Unnamed: 0', axis=1)
articles = articles.T
articles

,0,1,2,3,4,5,6,7,8,9,...,13115,13116,13117,13118,13119,13120,13121,13122,13123,13124
HTTP 404,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Alexa Internet,0.000000,0.00000,0.029607,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Internet Explorer,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.003772,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.011594,0.000000,0.0
HTTP cookie,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Google Search,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.006649,0.0
Tumblr,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Hypertext Transfer Protocol,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Social search,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Firefox,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.031222,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
LinkedIn,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Global warming,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.004912,0.0,0.0,0.0,0.000000,0.000000,0.0
Nationally Appropriate Mitigation Action,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Nigel Lawson,0.000000,0.00000,0.000000,0.000000,0.029339,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Connie Hedegaard,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Climate change,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Kyoto Protocol,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.003673,0.000000,0.000000,...,0.013983,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
350.org,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Greenhouse gas emissions by the United States,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
2010 United Nations Climate Change Conference,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.018985,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
2007 United Nations Climate Change Conference,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Angelina Jolie,0.000000,0.00000,0.017294,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.009117,0.032204,0.0
Michael Fassbender,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Denzel Washington,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Catherine Zeta-Jones,0.020076,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Jessica Biel,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Russell Crowe,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.016657,0.000000,0.000000,...,0.063403,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Mila Kunis,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Dakota Fanning,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Anne Hathaway,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.015959,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Jennifer Aniston,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.018894,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
France national football team,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Cristiano Ronaldo,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.003602,0.000000,0.0
Arsenal F.C.,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Radamel Falcao,0.000000,0.00000,0.007054,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Zlatan Ibrahimović,0.000000,0.00000,0.006915,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Colombia national football team,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.006327,0.0,0.000000,0.000000,0.0,0.0,0.0,0.012774,0.000000,0.0
2014 FIFA World Cup qualification,0.000000,0.00000,0.014745,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.030800,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Football,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.005429,0.000000,...,0.014211,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.004223,0.0
Neymar,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.008478,0.0,0.0,0.0,0.000000,0.000000,0.0
Franck Ribéry,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Tonsillitis,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Hepatitis B,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Doxycycline,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Leukemia,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Gout,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.013992,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Hepatitis C,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Prednisone,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Fever,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Gabapentin,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Lymphoma,0.000000,0.00000,0.020774,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Chad Kroeger,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Nate Ruess,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
The Wanted,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.013928,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Stevie Nicks,0.008878,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.038297,0.0,0.010741,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Arctic Monkeys,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.014976,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Black Sabbath,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.003638,...,0.006873,0.0,0.005783,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Skrillex,0.049502,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Red Hot Chili Peppers,0.000000,0.00000,0.000000,0.005646,0.000000,0.0,0.0,0.004690,0.000000,0.000000,...,0.007140,0.0,0.012016,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
Sepsis,0.000000,0.00611,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.005476,0.0
Adam Levine,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0

In [33]:
articles.to_csv("Wikipedia_Articles_Dataset.csv", index = True, index_label=False)

In [59]:
words = pd.read_csv("wikipedia-vocabulary.csv", header = None)
word = words[1:]

In [60]:
words = words.rename(columns = {0:"word"})

In [61]:
words

             word
0            word
1           aaron
2         abandon
3       abandoned
4      abandoning
...           ...
13121    zimbabwe
13122        zinc
13123        zone
13124       zones
13125         zoo

[13126 rows x 1 columns]

In [55]:
words.to_csv("new_wikipedia-vocabulary.csv", index = False)

In [56]:
words = pd.read_csv("wikipedia-vocabulary.csv", header = None)
words

                0
0            word
1           aaron
2         abandon
3       abandoned
4      abandoning
...           ...
13121    zimbabwe
13122        zinc
13123        zone
13124       zones
13125         zoo

[13126 rows x 1 columns]