In [2]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

### Pandas and The Hello World of SQL Queries!

Here, you'll take advantage of the power of pandas to write the results of your SQL query to a DataFrame in one swift line of Python code!

### Ex 1:

You'll first import pandas and create the SQLite `'Chinook.sqlite'` engine. Then you'll query the database to `select` all records from the `Album` table.

Recall that to `select`all records from the `Orders` table in the `Northwind database`, Hugo executed the following command:

`df = pd.read_sql_query("SELECT * FROM Orders", engine)`

In [4]:
# Using the function create_engine(), 
# create an engine for the SQLite database Chinook.sqlite and assign it to the variable engine.
engine = create_engine("sqlite:///Chinook.sqlite")

# Use the pandas function read_sql_query() to assign to the variable df the DataFrame of results from the following query: 
# select all records from the table Album
df = pd.read_sql_query('SELECT * FROM Album', engine)

# Print head of DataFrame
print(df.head())

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [3]:
# The remainder of the code is included to confirm that, 
# the DataFrame created by this method is equal to a typical SQL query.

In [5]:
# Open engine in context manager and store query result in df1
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Album")
    df1 = pd.DataFrame(rs.fetchall())
    df1.columns = rs.keys()

# Confirm that both methods yield the same result
print(df.equals(df1))

True

### Ex 2: Complex querying

Here, you'll become more familiar with the pandas function `read_sql_query()` by using it to execute a more complex query: a `SELECT` statement followed by both a `WHERE` clause AND an `ORDER BY` clause.

You'll build a `DataFrame` that contains the rows of the `Employee` table for which the `EmployeeId` is `greater than or equal to 6` and you'll `order` these entries by `BirthDate.`

In [6]:
# Create engine: engine
engine = create_engine("sqlite:///Chinook.sqlite")

# Use the pandas function read_sql_query() to assign to the variable df the DataFrame of results from the following query: 
# select all records from the Employee table where the EmployeeId is greater than or equal to 6 and ordered by BirthDate
# make sure to use WHERE and ORDER BY in this precise order
df = pd.read_sql_query("SELECT * FROM Employee WHERE EmployeeId >= 6 ORDER BY BirthDate", engine)

# Print head of DataFrame
print(df.head())

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00

              HireDate                      Address        City State Country  \
0  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com

## Filtering your INNER JOIN

### Ex 3:

Here, you'll perform your first `INNER JOIN`! You'll be working with your favourite SQLite database, `Chinook.sqlite`. `Select` all records `From` the `PlaylistTrack` table and the `Track` table, you will need to `INNER JOIN` these two tables on the `TrackId` column of both, `Where` they satisfy the condition `Milliseconds < 250000`.

In [7]:
# Execute query and store records in DataFrame: df
df = pd.read_sql_query("SELECT * FROM PlaylistTrack INNER JOIN Track on PlaylistTrack.TrackId = Track.TrackId WHERE Milliseconds < 250000", engine)

# Print head of DataFrame
print(df.head())

   PlaylistId  TrackId  TrackId              Name  AlbumId  MediaTypeId  \
0           1     3390     3390  One and the Same      271            2
1           1     3392     3392     Until We Fall      271            2
2           1     3393     3393     Original Fire      271            2
3           1     3394     3394       Broken City      271            2
4           1     3395     3395          Somedays      271            2

   GenreId Composer  Milliseconds    Bytes  UnitPrice
0       23     None        217732  3559040       0.99
1       23     None        230758  3766605       0.99
2       23     None        218916  3577821       0.99
3       23     None        228366  3728955       0.99
4       23     None        213831  3497176       0.99